<div class="container">
  <h2>Sign Up</h2>
    <form [formGroup]="signupForm" class="form" (ngSubmit)="signUp()">
              <!-- Name -->
              <label class="form-label">Full Name</label>
              <input autocomplete="off" class="form-control" formControlName="displayName" type="text"  placeholder="Display Name">
              <!-- Password -->
              <label class="form-label">Email</label>
              <input formControlName="email" class="form-control" type="email"  placeholder="Email">
              <!-- Password -->
              <label class="form-label">Password</label>
              <input autocomplete="off" class="form-control" formControlName="password" type="password"  placeholder="Password">
              <!-- Error message field -->
              <div *ngIf="firebaseErrorMessage != ''" class="error-style">
                  <span>{{ firebaseErrorMessage }}</span>
              </div>
      <button type="submit" class="btn btn-primary mt-3 mb-3">Signup</button>
  </form>
  <a href="/login" routerLink="/login">Login</a>
</div>

