<h1>My Favourites</h1>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1553383690l/2657.jpg" class="img img-fluid"/>
            <h2>Book Title</h2>
            <p>This is a book description</p>
            <p>Rating: </p>
            <h3>Review: </h3>
            <p>This is a review of this book! </p>
            <button class="btn btn-warning">Remove</button>
            <button class="btn btn-primary m-3">Edit</button>
        </div>
        <div class="col-12 col-md-4">
            <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1553383690l/2657.jpg" class="img img-fluid"/>
            <h1>Book Title</h1>
            <p>This is a book description</p>
            <p>Rating: </p>
            <p>Review: This is a review of this book! </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1553383690l/2657.jpg" class="img img-fluid"/>
            <h1>Book Title</h1>
            <p>This is a book description</p>
            <p>Rating: </p>
            <p>Review: This is a review of this book! </p>
        </div>
    </div>
</div>
