<!-- Navbar | Header -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="row">
        <a class="navbar-brand" href="#">
          <h2><fa-icon [icon]="faBook" size="1x"></fa-icon> My Library</h2>
        </a>
      </div>
  </div>
</nav>
<!-- END of Navbar | Header -->
<!-- Search section -->
<app-search-book></app-search-book>
<!-- END of Search section -->
<!-- Display Book Section -->
<app-display-book></app-display-book>
<!-- END of Display Book Section -->
<footer class="footer footer-fixed text-center p-3">
  <small>&copy; 2023 MyLibrary</small>  
</footer>