<!-- As a link -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="row">
        <a class="navbar-brand" href="#">
          <h2><fa-icon [icon]="faBook" size="1x"></fa-icon> My Library</h2>
        </a>
      </div>
  </div>
</nav>
<div class="container p-3">
  <div class="row">
    <div class="col-3 ">
      <img src="https://s-i.huffpost.com/gen/1148926/images/o-CLASSIC-BOOKS-ORIGINAL-COVERS-facebook.jpg"  class="img-fluid img-thumbnail"  alt=""/>
    </div>
    <div class="col-3 ">
      <h1>Title: </h1>
      <p class="font-weight-bold">Author: </p>
      <p class="font-weight-bold">Publisher: </p>
      <p class="font-weight-bold">Description: </p>
      <p>
        ipsum dolor sit amet consectetur adipisicing elit. Nobis, recusandae itaque molestiae maiores molestias 
        sapiente rerum. Sunt itaque nihil ab, dolorum, doloribus ullam eveniet, architecto obcaecati iste iure 
        distinctio cum?
      </p>
      <p class="muted">Year Published: </p>
      <p class="muted">ISBN: </p>
    </div>
  </div>
</div>
<footer class="footer footer-fixed text-center">
  <small>&copy; 2023 MyLibrary</small>  
</footer>